<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddBoxForm</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        body{
            padding-top: 100px;
        }
    </style>
</head>
<body>


<div class="container">
    <div class="card">
        <div class="card-header card bg-info text-white">
            <h2>Add Form</h2>
        </div>
        <div class="card-body">
            <form>

                <div class="form-group">
                    <label>Name</label>
                    <input type="email" class="form-control" placeholder="Enter name here...">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Letter
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                    <label class="form-check-label" for="exampleRadios2">
                        Packet
                    </label>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Weight</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="0.0">
                </div>
                <select class="form-control">
                    <label>Weight type</label>
                    <option></option>
                    <option>G</option>
                    <option>KG</option>

                </select>

                <select class="form-control">
                    <label>Country</label>
                    <option></option>
                    <option>Sweden</option>
                    <option>Australia</option>

                </select>

                <button type="button" class="btn btn-primary">Register</button>


            </form>


        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-danger">Back</button>

        </div>


    </div>


</div>



</body>
</html>