<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowBoxList</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        body {
            padding-top: 100px;
        }
    </style>
</head>
<body>


<div class="container">
    <div class="card">
        <div class="card-header card bg-info text-white">
            <h2>Show List</h2>
            <p>
                <a th:href="@{/shipping/addBoxForm}" class="btn btn-success" >Add Form</a>
            </p>
        </div>

        <div class="card-body">

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Weight</th>
                    <th>Weight type</th>
                    <th>Country</th>
                    <th>Cost</th>
                    <th>Status</th>

                </tr>
                </thead>

                <div class="row" th:if="${boxList.isEmpty()}">
                    No products listed.
                </div>

                <div th:unless="${boxList.isEmpty()}">

                    <div th:each="aBox : ${boxList}">

                        <tbody>

                        <tr>

                            <td th:text="${aBox.id}"></td>
                            <td th:text="${aBox.name}"></td>
                            <td th:text="${aBox.type}"></td>
                            <td th:text="${aBox.weight}"></td>
                            <td th:text="${aBox.weightType}"></td>
                            <td th:text="${aBox.country}"></td>
                            <td th:text="${aBox.cost}"></td>
                            <td th:text="${aBox.status}"></td>

                        </tr>

                        </tbody>

                    </div>

                </div>

            </table>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-danger " th:href="@{/shipping/add}">Back</button>

        </div>


    </div>


</div>


</body>
</html>